{% extends 'base.html' %}
{% block titulo %}
Proveedores
{% endblock %}
{% block menu %}
{% include 'proveedores/_menu.html' %}
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="30px">#</th>
                <th class="text-center">Nombre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ proveedor.nombre }}</td>
                        <td class="text-right">
                            <a href="{% url 'medicamentos.views.update_proveedor' proveedor.id %}" class="btn btn-warning">Modificar</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}